.border {
  padding:10px;
  border: 10px solid #eef130;
  margin:0px;
}

.App {
  text-align: center;
  display:space-evenly;
  justify-content: space-evenly;
  background-color: #f8dbcd;
  background-position: center;
  position: static
}
.container {
  border: 15px solid rgb(243, 161, 161);
  margin:10px;
}

h1 {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 40px;
 line-height: 48px;
 color:rgb(110, 123, 238);
}
h1:hover {
 color:rgb(79, 236, 241);
}


